# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
*.sqlite3

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.npm/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
